* {
  color: #201d1d;
  font-weight: normal;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.3px;
}

i {
  letter-spacing: 0.2px;
}

.logoimage {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  max-height:400px;
  margin-bottom: -25px;
  text-align: center;
  z-index: 10;
}

.bigbox {
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
}

.storycontent,
.card {
  background-color: rgb(199, 190, 182);
  margin: 4px;
  padding: 10px;
}

.card {
    margin:16px 4px 16px 4px;
    padding: 10px 10px 4px 18px;
    border-radius: 18px;
}

.shadow {
  box-shadow: 1px 1px 4px 0 rgb(136, 129, 122);
}

h1.storytitle {
  margin: 4px;
}

p {
  margin-top: 10px;
  font-style: normal;
  line-height: 1.21;
}

body {
  background-color: rgb(180, 171, 162);
  font-size: 16px;
  font-weight: normal;
}

h1 {
    font-size: 32px;
}

h2 {
  margin-top: 36px;
  font-size: 24px;
}

.daviddeluca {
  font-size: 46px;
  letter-spacing: 10px;
  margin: auto;
  width: 75vw;
  text-align: center;
}

.main {
  width: 100%;
  margin: 0 auto;
  overflow:hidden;
  position: relative;
}

hr {
  border-color: rgb(124, 118, 111);
  margin: 20px;
  padding: 0px;
}

h3 {
  margin-top: 4px;
  margin-bottom:14px;
  font-weight: bold;
  font-size: 18px;
}

ul {
  text-indent: 0px;
  margin-left: -15px;
  margin-top: -10px;
}

.footerlike {
    margin:auto;
    line-height: 1.1;
    text-align: center;
    width:fit-content;
    padding: 10px;
    border-radius:18px;
    background-color: rgb(124, 118, 111);
}

h1,
h2 {
  background: #746e6c;
  padding: 10px;
  border-radius: 18px;
}
