* {
  color: #201d1d;
  font-weight: normal;
  font-family: Roboto,sans-serif;
  letter-spacing: 0.3px;
}

i {
  letter-spacing: 0.2px;
}

.logoimage {
  margin: 0px;
  max-width: 100%;
  margin-bottom: -25px;
  z-index: 10;
}

.bigbox {
    margin: 10px 10px 10px 10px;
    border-radius:5px;
}

.storycontent, .card {
    background-color:rgb(199, 190, 182);
    margin: 4px;
    padding: 10px;
    border-radius:5px;
}

.shadow {
    box-shadow: 2px 2px 4px 0 rgb(124, 118, 111);
}


h1.storytitle {
    margin: 4px;
}

p {
  margin-top: 10px;
  font-style: normal;
  line-height: 1.21;
}

body {
  background-color: rgb(180, 171, 162);
  font-size: 11px;
  font-weight:normal;
}

h1 {
  font-size: 20px;
}

h2 {
  margin-top: 20px;
  font-size: 16px;
}

.daviddeluca {
  font-size: 45px;
  letter-spacing: 10px;
  margin: auto;
  width: 75vw;
  text-align: center;
}

hr {
    border-color: rgb(124, 118, 111);
    margin: 20px;
    padding:0px;
}


h3 {
  font-style: italic;
  margin-top: 12px;
  font-weight:normal;
  font-size: 14px;
}

ul {
  text-indent: 0px;
  margin-left: -15px;
  margin-top: -10px;
}

h1, h2 {
  background: #746e6c;
  padding: 5px 5px 2px 5px;
    border-radius:5px;
}
